.row-header {
    margin: 0px auto;
    padding: 0px auto;
}

.row-content {
    margin: 0px auto;
    padding: 50px 0px 50px 0px;
    border-bottom: 1px ridge;
    min-height: 400px;
}

.footer {
    background-color: rgb(27, 26, 27);
    margin: 0px auto;
    padding: 20px 0px 20px 0px;
    color: rgb(197, 197, 197);
    font-weight: 700;
    height: 100px;
}

.footer a{
    color: rgb(255, 255, 255);
}

.jumbotron {
    padding: 70px 30px 70px 30px;
    margin: 0px auto;
    background: rgb(81, 45, 168);
    color: floralwhite;
    border-radius: 0;
}

.navbar-dark {
    background-color: rgb(81, 45, 168);
}